@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  @apply text-2xl m-5 text-red-500;
}

.msg {
  @apply text-lg m-5 text-gray-900;
}

.input {
  @apply p-1 border-solid border-2 border-gray-400 rounded-sm;
}

.btn {
  @apply px-7 py-2 bg-blue-800 text-white rounded-lg;
}

:any-link {
  @apply text-lg m-5 text-sky-600;
}